extends layout

block content
  .row
    .four.wide.compact.column
    .twelve.wide.compact.column
      a.button.ui.primary.button(style='float:right;', id='addcharity')
        | Add Charity
      a.button.ui.primary.button(style='float:right;', id='addproduct')
        | Add Product
      a.button.ui.primary.button(style='float:right;', id='addcategory')
        | Add Category
      a.button.ui.primary.button(style='float:right;', id='adduser')
        | Add User
  .row(style='margin-top:0px;')
    h3(style='padding-left:10px;') Current Users
    table.ui.small.selectable.row.celled.expandable.table(style='margin-bottom:0; border-bottom:0;')
      thead
        tr
          th(style='width:33%') Username
          th(style='width:33%') Name
          th(style='width:33%') Donated
    .noscrollbar(style="max-height:40vh; width:100%; display:block; overflow-y:auto; overflow-x: overlay; border-bottom:1px solid rgba(34,36,38,.15);border-radius:.28571429rem;")
      table.ui.small.selectable.row.celled.expandable.table(style='border-top: 0;')
        tbody(id='usertable')
          for user in users
            - var click = "EditUser(" + user.id + ")";
            tr.title(onclick=click)
             td(style='width:33%') #{user.username}
             td(style='width:33%') #{user.name}
             td(style='width:33%') #{user.donated}

  .row(style='margin-top:0px;')
    h3(style='padding-left:10px;') Current Charities
    table.ui.small.selectable.row.celled.expandable.table(style='margin-bottom:0; border-bottom:0;')
      thead
        tr
          th(style='width:33%') Name
          th(style='width:33%') Description
          th(style='width:33%') Total Donated
    .noscrollbar(style="max-height:40vh; width:100%; display:block; overflow-y:auto; overflow-x: overlay; border-bottom:1px solid rgba(34,36,38,.15);border-radius:.28571429rem;")
      table.ui.small.selectable.row.celled.expandable.table(style='border-top: 0;')
        tbody(id='charitytable')

  .row(style='margin-top:0px;')
    h3(style='padding-left:10px;') Current Products
    table.ui.small.selectable.row.celled.expandable.table(style='margin-bottom:0; border-bottom:0;')
      thead
        tr
          th(style='width:20%') Name
          th(style='width:20%') Description
          th(style='width:20%') Cost
          th(style='width:20%') Quantity In Stock
          th(style='width:20%') Category
    .noscrollbar(style="max-height:40vh; width:100%; display:block; overflow-y:auto; overflow-x: overlay; border-bottom:1px solid rgba(34,36,38,.15);border-radius:.28571429rem;")
      table.ui.small.selectable.row.celled.expandable.table(style='border-top: 0;')
        tbody(id='producttable')

  .row(style='margin-top:0px;')
    h3(style='padding-left:10px;') Current Categories
    table.ui.small.selectable.row.celled.expandable.table(style='margin-bottom:0; border-bottom:0;')
      thead
        tr
          th(style='width:33%') ID
          th(style='width:33%') Name
          th(style='width:33%') Description
    .noscrollbar(style="max-height:40vh; width:100%; display:block; overflow-y:auto; overflow-x: overlay; border-bottom:1px solid rgba(34,36,38,.15);border-radius:.28571429rem;")
      table.ui.small.selectable.row.celled.expandable.table(style='border-top: 0;')
        tbody(id='categorytable')

  .ui.modal.adduser
    .header(id="usermodalheader")
      | System User Registration
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    form.ui.form(style="margin:10px 20px 10px 20px;", method="POST", id='userform', name='userform')
      input(value='false', name='userEditMode', id='userEditMode', type='hidden')
      input(value='false', name='userIDField', id='userIDField', type='hidden')
      .two.fields
        .field(id='usernamefield')
          label Username
          input(placeholder='Enter Username', name='username', type='text')
        .field(id='namefield')
          label Name
          input(placeholder='Enter Name', name='name', type='text')
      .two.fields
        .field(id='passwordfield')
          label Password
          input(placeholder='Enter Password', name='password', type='password')
        .field(id='verifyfield')
          label Verify Password
          input(placeholder='Verify Password', name='verifypassword', type='password')
      .ui.error.message
        .header Error
        p(id='userformerrormsg') Error!
    .actions
      .ui.red.labeled.icon.button(id='deleteuserbutton', style='float:left')
        | Delete User
        i.delete.icon
      .ui.neutral.right.labeled.button(onclick='CloseUserModal()')
        | Cancel
      .ui.green.right.labeled.icon.button(id='usersubmit')
        | Submit
        i.checkmark.icon

  .ui.modal.addcategory
    .header(id="categorymodalheader")
      | System Category Management
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    form.ui.form(style="margin:10px 20px 10px 20px;", method="POST", id='categoryform', name='categoryform')
      input(value='false', name='categoryEditMode', id='categoryEditMode', type='hidden')
      input(value='false', name='categoryIDField', id='categoryIDField', type='hidden')
      .field(id='categorynamefield')
        label Name
        input(placeholder='Enter Name', name='categoryname', type='text')
      .field(id='categorydescriptionfield')
        label Description
        input(placeholder='Enter Description', name='categorydescription', type='text')
      .ui.error.message
        .header Error
        p(id='categoryformerrormsg') Error!
    .actions
      .ui.red.labeled.icon.button(id='deletecategorybutton', style='float:left')
        | Delete Category
        i.delete.icon
      .ui.neutral.right.labeled.button(onclick='CloseCategoryModal()')
        | Cancel
      .ui.green.right.labeled.icon.button(id='categorysubmit')
        | Submit
        i.checkmark.icon

  .ui.modal.addproduct
    .header(id="productmodalheader")
      | System Product Management
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    form.ui.form(style="margin:10px 20px 10px 20px;", method="POST", id='productform', name='productform')
      input(value='false', name='productEditMode', id='productEditMode', type='hidden')
      input(value='false', name='productIDField', id='productIDField', type='hidden')
      .field(id='productnamefield')
        label Name
        input(placeholder='Enter Name', name='productname', type='text')
      .field(id='productdescriptionfield')
        label Description
        input(placeholder='Enter Description', name='productdescription', type='text')
      .two.fields
        .field(id='productquantityfield')
          label Quantity
          input(placeholder='Enter Quantity', name='productquantity', type='number')
        .field(id='productcostfield')
          label Cost
          input(placeholder='Enter Cost', name='productcost', type='number')
      .field(id='productcategoryfield')
        label Product Category
        select.ui.fluid.search.dropdown(name='productcategory', id='productcategory')
          option(value='') Choose Category
      .ui.error.message
        .header Error
        p(id='productformerrormsg') Error!
    .actions
      .ui.red.labeled.icon.button(id='deleteproductbutton', style='float:left')
        | Delete Product
        i.delete.icon
      .ui.neutral.right.labeled.button(onclick='CloseProductModal()')
        | Cancel
      .ui.green.right.labeled.icon.button(id='productsubmit')
        | Submit
        i.checkmark.icon

  .ui.modal.addcharity
    .header(id="charitymodalheader")
      | System Charity Management
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    form.ui.form(style="margin:10px 20px 10px 20px;", method="POST", id='charityform', name='charityform')
      input(value='false', name='charityEditMode', id='charityEditMode', type='hidden')
      input(value='false', name='charityIDField', id='charityIDField', type='hidden')
      .field(id='charitynamefield')
        label Name
        input(placeholder='Enter Name', name='charityname', type='text')
      .field(id='charitydescriptionfield')
        label Description
        input(placeholder='Enter Description', name='charitydescription', type='text')
      .ui.error.message
        .header Error
        p(id='charityformerrormsg') Error!
    .actions
      .ui.red.labeled.icon.button(id='deletecharitybutton', style='float:left')
        | Delete charity
        i.delete.icon
      .ui.neutral.right.labeled.button(onclick='CloseCharityModal()')
        | Cancel
      .ui.green.right.labeled.icon.button(id='charitysubmit')
        | Submit
        i.checkmark.icon
  
  .ui.modal.successprompt
    .header
      | Success
    .ui.success.message(style='margin-left:10px;margin-right:10px;')
      .header Success
      p(id='successprompttext') User Added!
    .actions
      .ui.positive.right.labeled.icon.button
        | Okay
        i.checkmark.icon

  .ui.modal.warningprompt
    .header(id='warningheader')
      | Warning: Deleting
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    .ui.warning.message(style='margin-left:10px;margin-right:10px;')
      .header Warning
      p(id='warningprompttext') Error!
    .actions
      .ui.right.labeled.button(id='warningbuttoncancel')
        | Cancel
      .ui.negative.right.labeled.icon.button(id='warningbuttonsubmit')
        | Delete
        i.cancel.icon

  script(type='text/javascript', src='/javascripts/admin.js')
  script(type='text/javascript', src='/javascripts/adminvalidation.js')