extends layout

block content
  .row
    .four.wide.compact.column
    .twelve.wide.compact.column
      a.button.ui.primary.button(style='float:right;', id='clearcart', onclick='ClearCart()')
        | Clear Cart
  .row(style='margin-top:0px;')
    h3(style='padding-left:10px;') Cart
  .row(style='margin-top:0px;')
    h5(style='padding-left:10px;') Click items to remove them from your cart.
    table.ui.small.selectable.row.celled.expandable.table(style='margin-bottom:0; border-bottom:0;')
      thead
        tr
          th(style='width:25%') Item
          th(style='width:25%') Description
          th(style='width:25%') Price/Item
          th(style='width:25%') Quantity
    .noscrollbar(style="max-height:40vh; width:100%; display:block; overflow-y:auto; overflow-x: overlay; border-bottom:1px solid rgba(34,36,38,.15);border-radius:.28571429rem;")
      table.ui.small.selectable.row.celled.expandable.table(style='border-top: 0;')
        tbody(id='carttable')
  
  .ui.modal.clearcart
    .header(id='clearcartheader')
      | Clear Cart?
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    .ui.info.message(style='margin-left:10px;margin-right:10px;')
      p(id='clearcartprompttext') Are you sure you want to clear your cart?
    .actions
      .ui.right.labeled.button(onclick='CloseClearCartModal()')
        | Cancel
      .ui.red.right.labeled.icon.button(id='clearcartbuttonsubmit')
        | Clear Cart
        i.check.icon
          
  .ui.modal.clearitem
    .header(id='clearitemheader')
      | Remove Product from Cart?
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    .ui.info.message(style='margin-left:10px;margin-right:10px;')
      p(id='clearitemprompttext') Are you sure you want to remove this item from your cart?
    .actions
      .ui.right.labeled.button(onclick='CloseClearItemModal()')
        | Cancel
      .ui.red.right.labeled.icon.button(id='clearitembuttonsubmit')
        | Remove Item
        i.check.icon

  .ui.modal.successprompt
    .header
      | Success
    .ui.success.message(style='margin-left:10px;margin-right:10px;')
      .header Success
      p(id='successprompttext') Cart Cleared
    .actions
      .ui.positive.right.labeled.icon.button
        | Okay
        i.checkmark.icon

  .ui.modal.warningprompt
    .header(id='warningheader')
      | Warning: Deleting
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    .ui.warning.message(style='margin-left:10px;margin-right:10px;')
      .header Warning
      p(id='warningprompttext') Error!
    .actions
      .ui.right.labeled.button(id='warningbuttoncancel')
        | Cancel
      .ui.negative.right.labeled.icon.button(id='warningbuttonsubmit')
        | Delete
        i.cancel.icon

  script(type='text/javascript', src='/javascripts/cart.js')