extends layout

block content
  .row
  .row(style='margin-top:0px;')
    h3(style='padding-left:10px;') Current Products
    table.ui.small.selectable.row.celled.expandable.table(style='margin-bottom:0; border-bottom:0;')
      thead
        tr
          th(style='width:20%') Name
          th(style='width:20%') Description
          th(style='width:20%') Cost
          th(style='width:20%') Quantity In Stock
          th(style='width:20%') Category
    .noscrollbar(style="max-height:40vh; width:100%; display:block; overflow-y:auto; overflow-x: overlay; border-bottom:1px solid rgba(34,36,38,.15);border-radius:.28571429rem;")
      table.ui.small.selectable.row.celled.expandable.table(style='border-top: 0;')
        tbody(id='producttable')
  
  .ui.modal.addproduct
    .header(id='addproductheader')
      | Add Product to Cart?
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    .ui.info.message(style='margin-left:10px;margin-right:10px;')
      p(id='addproductprompttext') How many of this product do you wish to add to your cart?
    .ui.segment
      form.ui.form
        .field
          label Quantity
          input(placeholder='Enter Quantity to Add to Cart', type='number', id='addproductquantity')
    .ui.error.message.hidden(id='addproducterrorfield')
      .header Must Enter Quantity!
      p You must enter a quantity of 1 or higher to add to your cart!
    .actions
      .ui.right.labeled.button(onclick='CloseAddProductModal()')
        | Cancel
      .ui.green.right.labeled.icon.button(id='addproductbuttonsubmit')
        | Add to Cart
        i.check.icon

  .ui.modal.successprompt
    .header
      | Success
    .ui.success.message(style='margin-left:10px;margin-right:10px;')
      .header Success
      p(id='successprompttext') Driver Added!
    .actions
      .ui.positive.right.labeled.icon.button
        | Okay
        i.checkmark.icon

  .ui.modal.warningprompt
    .header(id='warningheader')
      | Warning: Deleting
    i.close.icon(style="top: 1.0535rem;right: 1rem;color: rgba(0,0,0,.87);")
    .ui.warning.message(style='margin-left:10px;margin-right:10px;')
      .header Warning
      p(id='warningprompttext') Driver Added!
    .actions
      .ui.right.labeled.button(id='warningbuttoncancel')
        | Cancel
      .ui.negative.right.labeled.icon.button(id='warningbuttonsubmit')
        | Delete
        i.cancel.icon

  script(type='text/javascript', src='/javascripts/home.js')