doctype html
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
    script(type='text/javascript', src='/javascripts/semantic.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/semantic.min.css')
    style.
      .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
      }
      .disabled {
        color: #cccccc;
      }
      .approved {
        border: solid #00ff00 !important;
        border-width: 3px !important;
      }
      .rejected {
        border: solid #ff0000 !important;
        border-width: 3px !important;
      }
      .neutral {
        border: solid #0000ff !important;
        border-width: 3px !important;
      }
  body
    .ui.light.blue.inverted.menu
      .ui.container
        .ui.inverted.secondary.menu
          a.item(href='/home', style='font-weight: bolder; font-size: 20px') Home
          a.item(href='/admin', style='font-weight: bolder; font-size: 20px') Admin
        .right.menu
          a.item.right(href='/cart', style='font-weight: bolder; font-size: 20px') Cart
          a.item.right(href='/logout', style='font-weight: bolder; font-size: 20px') Logout
    .ui.grid.container
      block content