extends layout

block content
  .ui.grid.segment(style='width:100%; margin-top:5px;')
    h2 Register
    form.ui.form(style="margin:10px 20px 10px 20px; width:100%", method="POST", id='userform', name='userform')
      input(value='false', name='userEditMode', id='userEditMode', type='hidden')
      input(value='false', name='userIDField', id='userIDField', type='hidden')
      .two.fields
        .field(id='usernamefield')
          label Username
          input(placeholder='Enter Username', name='username', type='text')
        .field(id='namefield')
          label Name
          input(placeholder='Enter Name', name='name', type='text')
      .two.fields
        .field(id='passwordfield')
          label Password
          input(placeholder='Enter Password', name='password', type='password')
        .field(id='verifyfield')
          label Verify Password
          input(placeholder='Verify Password', name='verifypassword', type='password')
      .ui.error.message
        .header Error
        p(id='userformerrormsg') Error!
      .ui.green.right.labeled.icon.button(id='usersubmit', style='float:right;')
        | Submit
        i.checkmark.icon
  
  .ui.modal.successprompt
    .header
      | Success
    .ui.success.message(style='margin-left:10px;margin-right:10px;')
      .header Success
      p(id='successprompttext') User Added!
    .actions
      .ui.positive.right.labeled.icon.button
        | Okay
        i.checkmark.icon

  script(type='text/javascript', src='/javascripts/register.js')
  script(type='text/javascript', src='/javascripts/adminvalidation.js')